.search-dropdown {
  position: absolute;
  top: 70px;
  right: 200px;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 999;
  max-height: 300px;
  overflow-y: auto;
}

.search-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
